.info{

}

.header {

}

.game-container{

}

.level-btns-container{

}

.level-btn{

}

.easy-level-btn{

}

.hard-level-btn{

}

.extreme-level-btn{

}

.hint-btns-container{

}

.hint-btn{

}

.game-info-container{

}

.time-display{
    
}

.board-table {}

.board-table-body {}

.cell {
    background-color: red;
    height: 30px;
    width: 30px;
}

.cell-shown {
    background-color: green;
}

.cell-highlight{
    border: 3px solid blue;
}

.cell-hint-on {
    background-color: yellow;
}

.footer{

}