.info {
    box-sizing: border-box;
}

.header {}

.game-container {
    box-sizing: border-box;
}

.level-btns-container {
    box-sizing: border-box;
}

.level-btn {
    box-sizing: border-box;
}

.easy-level-btn {
}

.hard-level-btn {
}

.extreme-level-btn {
}

.hint-btns-container {
    box-sizing: border-box;
}

.hint-btn {
    box-sizing: border-box;
}

.game-info-container {
    box-sizing: border-box;
}

.time-display {
    box-sizing: border-box;
}

.start-over-btn {
    box-sizing: border-box;
}

.board-table {
    box-sizing: border-box;
}

.board-table-body {
    box-sizing: border-box;
}

.cell {
    box-sizing: border-box;
    background-color: red;
    height: 30px;
    width: 30px;
}

.cell-shown {
    background-color: green;
}

.cell-highlight {
    border: 3px solid blue;
}

.cell-hint-on {
    background-color: yellow;
}

.footer {}